.link {
  text-decoration: underline;
}


//GOOGLE

google-map {

  iframe + * {
    border-radius: 12px;
    border: 3px dashed var(--background-fifth-color) !important;
  }

  .yNHHyP-marker-view {
    &:focus-visible {
      border-radius: 2px;
      outline: 2px dashed var(--background-fifth-color) !important;
    }
  }
}


