$readed: url('data:image/svg+xml;utf8;,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.707,10.707l-5,5	C11.512,15.902,11.256,16,11,16s-0.512-0.098-0.707-0.293l-2-2c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0L11,13.586	l4.293-4.293c0.391-0.391,1.023-0.391,1.414,0S17.098,10.316,16.707,10.707z" fill="%234A597D"/></svg>');
$send: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M 12 2 C 6.4830714 2 2 6.4830754 2 12 C 2 17.516925 6.4830714 22 12 22 C 17.516929 22 22 17.516925 22 12 C 22 6.4830754 17.516929 2 12 2 z M 12 3 C 16.976489 3 21 7.0235146 21 12 C 21 16.976485 16.976489 21 12 21 C 7.0235112 21 3 16.976485 3 12 C 3 7.0235146 7.0235112 3 12 3 z M 17.490234 8.4960938 A 0.50005 0.50005 0 0 0 17.146484 8.6464844 L 11 14.792969 L 7.8535156 11.646484 A 0.50005 0.50005 0 1 0 7.1464844 12.353516 L 10.646484 15.853516 A 0.50005 0.50005 0 0 0 11.353516 15.853516 L 17.853516 9.3535156 A 0.50005 0.50005 0 0 0 17.490234 8.4960938 z" fill="%23303030"/></svg>');

app-message:has(.readed) ~ app-message {
  .message:before {
    content: $send;
  }
}

.message {
  &.self {
    position: relative;

    &:before {
      content: $readed;
    }
  }

  &:before {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -24px;
    bottom: 4px;
  }
}
